replicaCount: 1

image:
  repository: saas-go-web-app
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: go-web-app.local
      paths:
        - path: /
          pathType: Prefix
